.hidden {
    display: none;
}

.delete-note-link {
    position: absolute;
    top: 10px;
    right: 14px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.delete-note-link:hover {
    color: red;
}
